In [1]:
%%capture
from romeapi import Cybex
cybex = Cybex(accountName='cybexdemo', password='cybexdemo')

In [2]:
result = cybex.fetch_ohlcv('ETH/USDT', interval='1m', limit=15)

In [3]:
import numpy as np
import pandas as pd
ar = np.array(result)
df = pd.DataFrame({'time':ar[:,0],'open':ar[:,1], 'high':ar[:,2], 'low':ar[:,3], 'close':ar[:,4]})
df['time'] = pd.to_datetime(df['time'], unit='ms')
df

                  time     open     high      low    close
0  2019-06-24 09:30:00  309.760  309.760  309.760  309.760
1  2019-06-24 09:29:00  309.760  309.760  309.760  309.760
2  2019-06-24 09:28:00  309.760  309.760  309.760  309.760
3  2019-06-24 09:27:00  308.059  309.952  308.059  309.952
4  2019-06-24 09:26:00  307.628  307.628  307.628  307.628
5  2019-06-24 09:25:00  307.858  307.858  307.858  307.858
6  2019-06-24 09:24:00  307.920  307.920  307.858  307.858
7  2019-06-24 09:23:00  307.710  307.710  307.710  307.710
8  2019-06-24 09:22:00  307.710  307.710  307.710  307.710
9  2019-06-24 09:21:00  307.760  307.760  307.710  307.710
10 2019-06-24 09:20:00  307.603  307.603  307.497  307.497
11 2019-06-24 09:19:00  307.910  307.910  307.910  307.910
12 2019-06-24 09:18:00  308.256  308.256  307.980  307.980
13 2019-06-24 09:17:00  307.983  308.070  307.981  308.070
14 2019-06-24 09:16:00  308.298  308.298  308.036  308.036

In [4]:
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, iplot
init_notebook_mode(connected=True)
trace = go.Candlestick(x=df['time'], open=df['open'], high=df['high'], low=df['low'], close=df['close'])
iplot([trace])

In [5]:
cybex.fetch_balance()

{'accountName': 'shanti-cybex',
 'positions': [{'assetName': 'CYB', 'available': 249.51995, 'frozen': 0},
  {'assetName': 'ETH', 'available': 0.01009, 'frozen': 0},
  {'assetName': 'USDT', 'available': 7.966423, 'frozen': 0}],
 'time': '2019-06-24T09:30:19.288397Z'}

In [6]:
order_transaction_id, result = cybex.create_limit_buy_order('ETH/USDT', 0.01, 280)

order_msg {'transactionType': 'NewLimitOrder', 'transactionId': '0d1a2acf9e9a41a0bc741ad5be0477a08bd6b827', 'refBlockNum': 63832, 'refBlockPrefix': 104544041, 'txExpiration': 1561451418, 'fee': {'assetId': '1.3.0', 'amount': 55}, 'seller': '1.2.49853', 'amountToSell': {'assetId': '1.3.27', 'amount': 2800000}, 'minToReceive': {'assetId': '1.3.2', 'amount': 10000}, 'expiration': 1561420799, 'fill_or_kill': 0, 'signature': '1f6bec4140365fd80267e9668a5b81f287f00ba0f6058e94e57cbccfb4f20245c62b8cdd4f7bff8004f17afd9158ed6b2c1ef804232f0bb9570201e851957ec664', 'isBuy': 0}

In [7]:
cybex.cancel_order(order_transaction_id)

{'transactionType': 'Cancel', 'transactionId': '923d14ce8f5c9d66eefcc3965e01492dc09bd0e9', 'originalTransactionId': '0d1a2acf9e9a41a0bc741ad5be0477a08bd6b827', 'refBlockNum': 63832, 'refBlockPrefix': 104544041, 'txExpiration': 1561451418, 'orderId': '0', 'fee': {'assetId': '1.3.0', 'amount': 5}, 'feePayingAccount': '1.2.49853', 'signature': '1f01d5941466f74f70366cb0d0c6940d0a3976adeb5aec9a568eda387169bbfd2f67b09363d0a6c6f3dea3ea13cbf0f059c1a90ada4648d2e0ef7ea3e7d49a85d3'}

{'Status': 'Successful',
 'signature': '1f01d5941466f74f70366cb0d0c6940d0a3976adeb5aec9a568eda387169bbfd2f67b09363d0a6c6f3dea3ea13cbf0f059c1a90ada4648d2e0ef7ea3e7d49a85d3',
 'time': '2019-06-24T09:30:19.475180Z'}